@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Pacifico&family=Roboto&display=swap');


body
{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 232, 218);
    color:rgb(66, 11, 11);
}
h1 {
    background-color: rgb(48, 1, 1);
    color: rgb(255, 254, 254);
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, #e25c41, #931818,#5a0202);

}
.top
{
    display: flex;
    /* text-align: center; */
}

.topleft
{
    flex: 2;
    padding-left: 50px;
}
.topright
{
    flex:5;
}
.img1
{
    height: 250px;
    padding-left: 90px;
}
.prod-img {
    height: 300px;
    mix-blend-mode: multiply;
}
.img2
{
    width: 400px;
}
.mid
{
    display: flex;
}
.midleft
{
    flex: 1;
    padding-left: 10px;
    padding-top: 100px;
}
.midright
{
    padding-top:100px;
    padding-left: 90px;
    
}
p{
    font-weight: normal;
}
h4{
    font-weight: normal;
}
.center {
    /* text-align: center; */
    font-weight: bolder;
    padding-left: 50px;
}

.products .box-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 1rem;
    justify-content: center;
}
.products .box-container .box .icons a{
    color: rgb(12, 11, 9);
    font-size: 1.5rem;
    margin: 0.5rem;
    transition: 0.3s linear;
    color: rgb(48, 1, 1);
}

.products .box-container .box .icons a:hover{
    background: rgb(243, 179, 179);

}
.products .box-container .box {
    border: 2px solid rgb(12, 11, 9);
}
.products .box-container .box:hover {
    transition: .2s linear;
    color: rgb(167, 3, 3);
    border: 2px solid rgb(167, 3, 3);
} 

.products .box-container .box:hover img{
    transform: scale(1.1);
}

.footer
{
    background-color: rgb(75, 7, 7);
    text-align: center;
    color: #fff;
    padding-bottom: 12px;
}
.footer .social {
    padding: 1rem 0;

}

.footer .social a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #d7caca;
    border: 2px solid #dbb4b4;
    margin: .3rem;
    border-radius: 50%;

}
.footer .social a:hover{
    color: #fff;
    border-color: #000;
    transition: .2s linear;
    }